POD.Data/Service References/EDMOnlineServiceReference/EDMOnlineService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EDM.API.AccessControl.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EDM.API.AccessControl.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element name="AppPassword" nillable="true" type="xs:string" />
      <xs:element name="AppUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientPassword" nillable="true" type="xs:string" />
      <xs:element name="ClientUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestData" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credentials" nillable="true" type="tns:Credentials" />
</xs:schema>