POD.Data/Service References/EDMOnlineServiceReference/EDMOnlineService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EDM.WebServices.WebServiceErrorHandler" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EDM.WebServices.WebServiceErrorHandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EDMServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EDMServiceFault" nillable="true" type="tns:EDMServiceFault" />
</xs:schema>