POD.Data/Service References/EDMOnlineServiceReference/EDMOnlineService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EDM.WebServices.External.EDMOnline.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EDM.WebServices.External.EDMOnline.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentResponse">
    <xs:sequence>
      <xs:element name="dataSize" type="xs:long" />
      <xs:element name="documentContent" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentResponse" nillable="true" type="tns:DocumentResponse" />
</xs:schema>